body {
    background-color: white;
    background-image: url(img/bg2.png);
}
.signup {
    width: 200px;
    height: 90px;
    text-shadow: 1px 3.9px 16.8px rgba(0, 0, 0, 0.7), 0.7px 2.9px 7px rgba(0, 0, 0, 0.09);
    font-family: Quiska;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fdfdfd;
    padding: 20px 0px 0px 0px;
    opacity: 0.7;
    margin-bottom: 50px;
  }

  .input-field {
    border: none;
    padding: 2em;
    position: relative;
}

.input-field input[type="text"] {
  border: none;
  border-bottom: 1px solid #ddd;
  color: ghostwhite;
  width: 50px;
  height: 18px;
  font-size: 18px;
  margin-bottom: 15px;
  margin-left: 10px;
  padding: 5px 0px 5px 40px;
  width: 250px;
  background: transparent;
  outline: none;
  opacity: 0.7;
}

.input-field input[type="password"] {
  border: none;
  border-bottom: 1px solid #ddd;
  color: ghostwhite;
  opacity: 0.7;
  width: 50px;
  height: 18px;
  font-size: 18px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-top: 0px;
  padding: 5px 0px 5px 40px;
  width: 250px;
  background: transparent;
  outline: none;
}

::-webkit-input-placeholder {
  color: ghostwhite;
  opacity: 0.7;
}

.link:link{
  color : ghostwhite;
  opacity: 0.7;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.link:hover{
  color: blue;
}

.button {
    width: 250px;
    height: 40px;
    border-radius: 10.7px;
    background-color: #000000;
    opacity: 0.5;
    border: none;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.button:hover{
  width: 250px;
  height: 40px;
  border-radius: 10.7px;
  background-color: #000000;
  opacity: 1;
  border: none;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.name {
position: absolute;
left : 535px;
top : 30px;
opacity: 0.6;
}

.email {
  position: absolute;
  left : 535px;
  top : 75px;
  opacity: 0.6;
  }
 
.phone {
    position: absolute;
    left : 535px;
    top : 120px;
    opacity: 0.6;
}

.password {
    position: absolute;
    left : 535px;
    top : 162px;
    opacity: 0.6;
}

.signin {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  opacity: 0.7;
  font-size: 14px;
  padding-top: 4px;
  padding-left: 30px;
}




